<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> -->

  <ion-tabs>
    <ion-tab-bar color="cp-four" slot="bottom">
      <ion-tab-button tab="chihuahua">
        <fa-icon class="fa-2x" icon="church"></fa-icon>
        <ion-label>Chihuahua</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="puebla">
        <fa-icon class="fa-2x" icon="church"></fa-icon>
        <ion-label>Puebla</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="saltillo">
        <fa-icon class="fa-2x" icon="church"></fa-icon>
        <ion-label>Santillo</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  
<!-- </ion-content> -->
