<ion-header [translucent]="true">
 <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="cp-one"></ion-menu-button>
    </ion-buttons>
    <ion-title>¿Quienes somos?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" color="cp-two">Maronitas</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <div class="content">
      <h3>Origen del Maronismo</h3>
      <p>
        La comunidad maronita tiene su origen como tal en el siglo IV conel monje ermitañosan Maróndel 
        cual emana el nombre que llevan. Despuésde varias persecuciones por parte del imperio romano e 
        invasiones árabes se establecenen las tierras que el día de hoy conforman la nación deLíbano. 
        Tiempo más tardesan Juan Marón, monje maronita, es electo Patriarca por los monjes de distintos 
        conventos y la aprobación de Roma y es asícomo se convierte en el fundador de la Iglesia Maronita 
        con sede en Líbano de rito antioqueno.
      </p>

      <h3>Historia de la Iglesia maronita en México.</h3>
      <p>
        Los primeros inmigrantes procedentes de Líbano llegaron en 1860, en su mayoría fueron católicos maronitas. 
        La primera visita de un sacerdote maronita se dio en 1878 cuando llega a Méxicoel R. P. Boutros Rafful.
      </p>

      <p>
        El 20 de mayo de 1922 la Arquidiócesis de México hizo la cesión del templo de Nuestra Señora de 
        Balvanera a la comunidad maronita, quedando como párroco el Presbítero Juan Kuri, tiempo después erigida oficialmente 
        como Parroquia. Fue hasta el año 1995 cuando la comunidad maronita conto con su propia Diócesis, al 
        frente de la cual quedo el P. Wadih Boutros Tayah, como primer Obispo de la Eparquia de Nuestra 
        Señora de los Mártires de Líbano, el 6 de noviembre de 1995, nombrado por S. S.el Papa san Juan 
        Pablo II. Su entronización como Obispo se dio el 24 de marzo en la Catedral de san Marón (Balvanera).El Obispo 
        Tayah falleció el 4 de mayo de 2002 y un año después, el 22 de febrero de 2003, fue sucedido como obispo eparca por 
        Georges Saad Abi-Younes. Actualmente la Diócesisestáconformada por cinco parroquias localizadas en distintas ciudades 
        del paísy la catedral con sede en la Ciudad de México; podemos mencionar a la parroquia de san Chárbel 
        en Chihuahua, parroquia de san Chárbel enSaltillo, parroquia de san Pedro Apóstol en Guadalajara, 
        parroquia de Nuestra Señora de Líbano en Puebla, parroquia de Nuestra Señora de Líbano y la catedral maronita de 
        Nuestra Señora de Balvanera en la Ciudad de México.
      </p>

      <h3>El maronismo el México <small>1</small></h3>
      <p>
        Festejando el día de nuestro patrono San Marón y el 25 aniversario de la fundación de la Eparquia Maronita de México. 
        Quiero hacer un resumen del maronismo en México desde que llegaron los primeros maronitas a este país.
      </p>

      <p>
        La Iglesia Maronita pertenece al rito Siriaco-Araméo que ha heredado y guardado las tradiciones de las primitivas 
        comunidades cristianas de Jerusalén y Antioquía.
      </p>

      <p>
        Los maronitas se sienten orgullosos de pertenecer al Patriarcado de Antioquía, cuyo rito y liturgia datan 
        de la época de los Apóstoles.
      </p>

      <p>
      Desde que los Apóstoles pasaron por Líbano en su camino a Jerusalén, desde Antioquía y de regreso, 
      fundaron la primera iglesia en Líbano. Se dice, que El Apóstol Pedro, en persona, participó en la 
      cristianización del pueblo libanés. Desde entonces, se mantienen fieles a la primera predicación, incluso, 
      en las campañas de persecución, que se remontan al tiempo de los romanos.
      </p>

      <p>
      El nombre de "Maronitas", tiene su origen en el siglo IV, en el que vivió un famoso monje ermitaño llamado Marón, 
      cuyos discípulos fueron grandes defensores de la ortodoxia cristiana, y conocidos también, por su virtud y sabiduría.
      </p>

      <p>
        Para escapar de las continuas persecuciones y opresión de los enemigos de la fe: paganos provenientes del Imperio Romano, 
        tiempo después, de la dominación Árabe y del Imperio Turco-Otomano. Los monjes, y numerosos cristianos se refugiaron en 
        Líbano, ocupando desde aquel entonces las inaccesibles montañas, que con el tiempo llegaron a ser fecundas tierras de 
        labor, y vergeles llenos de árboles frutales y vides, todo, fruto del trabajo organizado y duro.
      </p>

      <p>
        Por siglos sufrieron grandes pruebas, persecuciones, servidumbre y muerte, sin embargo, gracias a la perseverancia y 
        santidad de los monjes, pudieron conservar la verdadera fe, ofreciendo a las generaciones que les sucedieron un espíritu 
        de libertad y lealtad a su fe católica.
      </p>

      <p>
        Hoy el pueblo maronita se encuentra extendido por el mundo, su presencia y su voluntad de independencia y conservación del 
        patrimonio territorial y cultural, que les es propio, testifican su calidad espiritual, su piedad y su libertad, que les ha 
        conservado íntegros y a la vez en constante progreso. Son conocidos, como trabajadores incansables, devotos de su herencia 
        y de su amor a La Santísima Virgen.
      </p>

      <p>
        Han defendido heroicamente su existencia en la libertad dando ejemplo a otros pueblos de unidad y coherencia en su ideal, 
        que es esencialmente un mensaje de amor.
      </p>

      <p>
        El Pueblo Maronita lleva inherente su fe y sus tradiciones, llevando, por este motivo, al mundo entero la suave fragancia 
        de las virtudes cristianas a la vida que les rodea.
      </p>

      <p>
        Cada maronita debería sentirse orgulloso de su herencia y conservar la memoria de sus antepasados, para seguir sus huellas 
        y abrir así el camino a las futuras generaciones para que conserven su cultura, unidad y tradición.
      </p>

      <p>
        Como Jesús mandó a sus Apóstoles para que fueran a evangelizar todas las naciones e hicieran discípulos, la naciente Iglesia 
        creció y se extendió fuera de Jerusalén. Experimentó otras tradiciones, culturas, costumbres, idiomas, formas de arte, 
        arquitectura y música. El oriente y el occidente cristianos expresan las mismas verdades fundamentales de su Fe católica en 
        formas diversas, singulares y con distintos adornos. La Iglesia no es lo mismo que un rito. Dentro de la Iglesia católica 
        existen 22 iglesias autónomas, cada una de las cuales sigue su propio rito. Todas tienen 3 elementos básicos: La Fe y el 
        dogma Apostólico, Los misterios o Sacramentos y la Unidad en torno al Papa.
      </p>

      <p>
        <strong>Un rito es la liturgia única, la teología, la espiritualidad y el derecho, caracterizados por su propia influencia 
          cultural, lingüística y de tradición.</strong>
      </p>

      <h3>El presencia o el maronismo en México. <small>Datos de historia 2</small></h3>
      <p>
        <b class="mr-4">1875</b>Llegaron los primeros inmigrantes, procedentes de Líbano, a causa de la guerra con el Imperio 
        Turco Otomano que dejó a miles sin casa, sin patrimonio, y con un futuro incierto. En su mayoría fueron católicos maronitas.
      </p>

      <p>
        <b class="mr-4">1878</b>Visita espontanea del R. P. Boutros Rafful. La comunidad maronita, deseosa de conservar su 
        tradición y los ritos propios de su liturgia, agradece su visita.
      </p>

      <p>
        <b class="mr-4">1900</b>Las parroquias maronitas de México, Argentina, y Brasil, así como las del mundo en general fueron 
        iniciativa del Patriarca Elías HOWAYEK.
      </p>

      <p>
        <b class="mr-4">1906</b>Llegó a México el primer sacerdote maronita Presbítero Hanna Kuri de Hattun, para atender a la 
        comunidad. Oficiaba Misa en la Iglesia de la Candelaria, dedicada al Rito Maronita en 1911, en la Col. La Merced. Centro de la CDMX.
      </p>

      <p>
        <b class="mr-4">1920</b>El Arzobispado de Puebla con la aprobación del gobierno de este Estado, cedió a la Comunidad Maronita, 
        la Iglesia de Belén, esta cesión contó con la petición oficial del Patriarca Maronita y de la ratificación de la Santa Sede.
      </p>

      <p>
        -	Sirvieron, a la Iglesia de Belén 2 Sacerdotes de Rito Maronita: el R. Mons. José Musi Musalem, quien sirvió a la Comunidad 
        hasta su muerte y el R.P. Héctor Douaihy, posteriormente obispo Maronita de Nueva York EUA .
      </p>

      <p>
        <b class="mr-4">1922</b>Aprovechando la estancia en México del Visitador Patriarcal el obispo Chucrallah Khoury, y en vista de 
        que la Iglesia de la Candelaria era insuficiente para el número de fieles, la comunidad maronita pidió al entonces Arzobispo de 
        la Arquidiócesis de México, S. E. Mons. José Mora y del Río, quien consiguió, del gobierno de México, la cesión del templo de 
        Nuestra Señora de Balvanera, situada en la calle de Correo Mayor, esquina con Uruguay, Col. Centro (20 de mayo de 1922).
      </p>

      <p>
        La capellanía de esta Iglesia fue asignada al Presbítero Juan Kuri, quien la sirvió hasta su muerte (23 de junio de1941). 
        Durante su gestión se remodeló el Templo.
      </p>

      <p>
        <b class="mr-4">1941</b>El Presbítero Jorge Assaf, de Aramun, quien oficiaba en la Iglesia de San Pablo en La Merced, tomo 
        la dirección de la Parroquia de Balvanera hasta 1944.
      </p>

      <p>
        <b class="mr-4">1944-45</b>Durante nueve meses de este año, la Iglesia funcionó bajo la supervisión del Sr. Fuad Frangié, 
        oficiando Misa varios sacerdotes mexicanos. A finales de ese año, llegaron los Padres José Kuri, de Bzebdín, y Boutros 
        Kahwagi, de Zaghbin.
      </p>

      <p>
        <b class="mr-4">1946</b>A iniciativa del entonces Arzobispo de la Arquidiócesis de México, S.E. Mons. Luis María Martínez, confirmó la 
        erección de la Parroquia Maronita de Nuestra Señora de Balvanera, el 20 de diciembre de 1946
      </p>

      <p>
        <b class="mr-4">1947</b>El 1° de enero se dio lectura a otro Decreto que nombraba al Presbítero Tobías Germany, de Bzebdin, Párroco de la misma. 
        El Notario de la Arquidiócesis, Mons. Gregorio Araiza, entregó al nuevo Párroco el Reglamento de la exhortación a los fieles maronitas.
      </p>

      <p>
        <b class="mr-4">1958</b>Fundación de la Asociacion unión maronita de México. El primer pres. Wadih Chedid
      </p>

      <p>
        <b class="mr-4">1951</b>Fundación de la unión de damas maronitas, primera pres. maría Ganem de Musi
      </p>

      <p>
        <b class="mr-4">1960</b>Con los debidos permisos de la Congregación para el Rito Oriental, y a petición del entonces Arzobispo de 
        México S.E. Mons. Miguel Darío, Cardenal, Miranda, quien había pedido que vinieran sacerdotes religiosos, llegaron de 
        Líbano tres Padres de la Orden Libanesa Maronita: el Abad P. Antonio Abiyunes, el R. P. Antonio Abou Sleiman, y el R. P. 
        José Boustany, se encargaron de la Parroquia de Balvanera,.
      </p>

      <p>
        <b class="mr-4">1970</b>Construcción de la Casa Y iglesia de Nuestra Sra. De Líbano en México con el primer párroco Mons. Jack Najm
      </p>

      <p>
        <b class="mr-4">1981</b>En mayo, Consagración de la iglesia Ntra. Sra. De Libano, Puebla.
      </p>

      <p>
        <b class="mr-4">1993</b>Creación del grupo damas San Charbel.
      </p>

      <p>
        <b class="mr-4">1995</b>Finalmente la comunidad Maronita de México, contó con su propia Diócesis, al frente de la cual, 
        quedó el P. Wadih Boutros Tayah, como primer Obispo de la Eparquía de Nuestra Señora de los Mártires de Líbano, el 6 de 
        noviembre de 1995, nombrado por S.S. el Papa Juan Pablo II.
      </p>

      <p>
        <b class="mr-4">1996</b>La entronización del Señor Obispo se llevó a cabo el 24 de marzo de 1996 en la Catedral 
        de San Marón (Balvanera).
      </p>

      <p>
        <b class="mr-4">1996</b>Creacion de la fundación Caritas San Maron por iniciativa del obispo maronita Wadih B. Tayah. 
      </p>

      <p>
        <b class="mr-4">2001</b>Visita del primer Patriarca Maronita a México Mar Nesralla Cardenal Sfeir. Del 15 al 23 de nov. 2001
      </p>

      <p>
        <b class="mr-4">2002</b>El 4 de Julio, Falleció S. E. el Obispo Wadih Pedro Tayah y fue enterrado en la Ermita de San 
        Charbel en Monterrey. Despues llevaron sus familiares sus restos a Libano. 
      </p>

      <p>
        <b class="mr-4">2003</b>El 22 de febrero fue nombrado por S. S. El Papa Juan Pablo II, el R.P. George Saad Abiyunes, 
        como 2do. obispo de la Eparquía Maronita de México. El 26 de Abril fue Ordenado en la Basílica de Ntra. Sra. de Líbano – libano.
      </p>

      <p>
        <b class="mr-4">2003</b>El 29 de junio, tomó posesión el nuevo obispo en la Catedral Maronita de Valvanera, en presencia 
        del Nuncio apostólico Giusepe Bertello y los obispos Yousef Bechara y Francis ElBaisary, los enviados especiales de S. 
        Beatitud el Patriarca Maronita el Cardenal Mar Nesrala Boutros Sfeir  
      </p>

      <p>
        <b class="mr-4">2012</b>Primera visita de su Beatitud el patriarca Maronita Bechara B. Rai a México, del 23 de abril al 5 de Mayo.
      </p>

      <p>
        <b class="mr-4">2015</b>Secunda visita de su Beatitud el patriarca Maronita Bechara B. Rai a México, con motivo del 4to. 
        Congreso de los obispos y Superiores generales, del 19 al 20 de noviembre 2015, con la participación de otros 10 obispos maronitas. 
      </p>

      <p><strong>La Eparquía Maronita de Mexico cuenta actualmente con 8 parroquias:</strong></p>

      <p>
        <b>1. </b>
        Catedral Nuestra Señora de Balvanera. Santuario de San Chárbel (en la ciudad de México); 
        entregada al rito maronita en 1922.
      </p>

      <p>
        <b>2. </b>
        Nuestra Señora del Líbano (en la ciudad de México); consagrada en 1972.
      </p>

      <p>
        <b>3. </b>
        San Pedro Apóstol (en Guadalajara); entregada al rito maronita de parte 
        del Arz. De Guadalajara en 2011, por un contrato de 10 años con el obispo
        Georges Abi Yunes. Actualmente tenemos un terreno de 5000 metros para
        construir la nueva iglesia de San Charbel.
      </p>

      <p>
        <b>4. </b>
        Parroquia San Chárbel y Centro Comunitario Maronita (en Chihuahua,).
        Construido con el esfuerzo del R. Mons. Padre Alberto Meouchi.
        Consagrada el 6 de noviembre 2010 por el obispo Georges Abi Yunes.
      </p>

      <p>
        <b>5. </b>
        Nuestra Señora del Líbano (en Puebla de Zaragoza); inaugurada 12 
        de julio 1981 y entregada al rito maronita el 25 de septiembre del 2009.
      </p>

      <p>
        <b>6. </b>
        San Chárbel (en Saltillo); consagrada 19 de diciembre 2010, por el obispo Georges saad Abi Yunes.
      </p>

      <p>
        <b>7. </b>
        San Chárbel (en Veracruz). Primera piedra 2015, por su servidor. En   
        construcción.
      </p>

      <p>
        <b>8. </b>
        San Charbel Pachuca. 1era. Piedra el 1 de febrero 2015, por su servidor, en construcción.
      </p>

      <p>
        A modo de conclusión se puede decir que las familias maronitas de México han crecido y enriquecido a su patria de 
        adopción, por un lado, con numerosas vocaciones a la vida consagrada, por el otro, gran cantidad de maronitas se han 
        distinguido en los campos: económico, político, profesional, artístico, y social, dando con ello testimonio de su 
        fidelidad a los ideales de paz, trabajo, hospitalidad, y libertad, que les acompañaron desde su patria de origen: Líbano. 
      </p>

      <p><b>Feliz día de San Marón</b></p>

    </div>
  </div>
</ion-content>
