<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Nosotros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Nosotros</ion-title>
    </ion-toolbar>
  </ion-header>

  <p class="titulo">Redes sociales</p>
  <div class="redes_content">
    <a
      href="https://www.facebook.com/Parroquia-de-San-Charbel-en-Saltillo-Coahuila-1445982715648097"
      class="red-social"
    >
      <img src="../../../assets/imgs/face.svg" alt="" />
      <span>Facebook</span>
    </a>
    <a
      href="https://m.facebook.com/pages/category/Religious-Organization/Parroquia-San-Charbel-Oficial-183184685618283/
"
      class="red-social"
    >
      <img src="../../../assets/imgs/face.svg" alt="" />
      <span>Facebook</span>
    </a>
    <a
      href="https://www.instagram.com/parroquia_san_charbel_saltillo/"
      class="red-social"
    >
      <img src="../../../assets/imgs/insta.webp" alt="" />
      <span>Instagram</span>
    </a>
    <a href="http://www.sancharbelsaltillo.org/" class="red-social">
      <img src="../../../assets/imgs/internet.png" alt="" />
      <span>Pagina web</span>
    </a>
  </div>
  <p class="texto">Horario de oficina</p>

  <p class="texto">Martes a sábado de 10:00am a 1:00pm y de 4:00pm a 7:00pm</p>

  <p class="texto">Teléfono oficina 8441511011</p>

  <p class="texto">Linea what'sapp 8445406739</p>

  <p class="texto">Correo electrónico</p>
  <p class="texto">sancharbelsaltillofacturas@gmail.com</p>

  <p class="texto">Horario de tienda de artículos religiosos</p>

  <p class="texto">Martes a sábado de 10:00am a 1:00pm y de 4:00pm a 7:00pm</p>
  <p class="texto">
    Coahuila se encuentra al día de hoy 28 de Octubre en semáforo Naranja, con
    posible cambio a semáforo rojo. Tenemos cupo limitado a 150 personas por
    celebración eucaristica.
  </p>
</ion-content>
