<ion-header [translucent]="true">
  <ion-toolbar>
     <ion-buttons slot="start">
        <ion-menu-button menu="first" color="cp-one"></ion-menu-button>
      </ion-buttons>
      <ion-title>Meronitas MX</ion-title>
    </ion-toolbar>
  </ion-header>
 
  <ion-content [fullscreen]="true" class="ion-padding">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large" color="cp-two">Maronitas MX</ion-title>
      </ion-toolbar>
    </ion-header>

    <div class="container">
      <div class="content">
        
        <h3>Origen del Maronismo</h3>
        <p>
          La comunidad maronita tiene su origen como tal en el siglo IV conel monje ermitañosan Maróndel 
          cual emana el nombre que llevan. Despuésde varias persecuciones por parte del imperio romano e 
          invasiones árabes se establecenen las tierras que el día de hoy conforman la nación deLíbano. 
          Tiempo más tardesan Juan Marón, monje maronita, es electo Patriarca por los monjes de distintos 
          conventos y la aprobación de Roma y es asícomo se convierte en el fundador de la Iglesia Maronita 
          con sede en Líbano de rito antioqueno.
        </p>

        <h3>Historia de la Iglesia maronita en México.</h3>
        <p>
          Los primeros inmigrantes procedentes de Líbano llegaron en 1860, en su mayoría fueron católicos maronitas. 
          La primera visita de un sacerdote maronita se dio en 1878 cuando llega a Méxicoel R. P. Boutros Rafful.
        </p>

        <p>
          El 20 de mayo de 1922 la Arquidiócesis de México hizo la cesión del templo de Nuestra Señora de 
          Balvanera a la comunidad maronita, quedando como párroco el Presbítero Juan Kuri, tiempo después erigida oficialmente 
          como Parroquia. Fue hasta el año 1995 cuando la comunidad maronita conto con su propia Diócesis, al 
          frente de la cual quedo el P. Wadih Boutros Tayah, como primer Obispo de la Eparquia de Nuestra 
          Señora de los Mártires de Líbano, el 6 de noviembre de 1995, nombrado por S. S.el Papa san Juan 
          Pablo II. Su entronización como Obispo se dio el 24 de marzo en la Catedral de san Marón (Balvanera).El Obispo 
          Tayah falleció el 4 de mayo de 2002 y un año después, el 22 de febrero de 2003, fue sucedido como obispo eparca por 
          Georges Saad Abi-Younes. Actualmente la Diócesisestáconformada por cinco parroquias localizadas en distintas ciudades 
          del paísy la catedral con sede en la Ciudad de México; podemos mencionar a la parroquia de san Chárbel 
          en Chihuahua, parroquia de san Chárbel enSaltillo, parroquia de san Pedro Apóstol en Guadalajara, 
          parroquia de Nuestra Señora de Líbano en Puebla, parroquia de Nuestra Señora de Líbano y la catedral maronita de 
          Nuestra Señora de Balvanera en la Ciudad de México.
        </p>

        <ion-button class="mt-4" size="small" color="light" expand="full" (click)="openSocialNewtwork('https://www.maronitas.org/');">
          <fa-icon class="fa-lg mr-1" icon="globe-americas"></fa-icon>
          Visitar página web
        </ion-button>

      </div>
    </div>
  </ion-content>
 