<ion-tabs>
  <ion-tab-bar color="cp-four" slot="bottom">
    <ion-tab-button tab="misal">
      <!-- <img class="icon_tab" src="../../assets/imgs/misal.png" alt="" /> -->
      <fa-icon class="fa-2x" icon="bible"></fa-icon>
      <ion-label>Misal</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <!-- <img class="icon_tab" src="../../assets/imgs/tramites.png" alt="" /> -->
      <fa-icon class="fa-2x" icon="file"></fa-icon>
      <ion-label>Trámites</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="misa">
      <!-- <img class="icon_tab" src="../../assets/imgs/misas.png" alt="" /> -->
      <fa-icon class="fa-2x" icon="church"></fa-icon>
      <ion-label>Misas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="galeria">
      <!-- <img class="icon_tab" src="../../assets/imgs/galeria.png" alt="" /> -->
      <fa-icon class="fa-2x" icon="images"></fa-icon>
      <ion-label>Galeria</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lugares">
      <!-- <img class="icon_tab" src="../../assets/imgs/evento.png" alt="" /> -->
      <!-- <fa-icon class="fa-2x" icon="location-arrow"></fa-icon> -->
      <!-- <fa-icon class="fa-2x" icon="map-marker-alt"></fa-icon> -->
      <fa-icon class="fa-2x" icon="map-marked-alt"></fa-icon>
      <ion-label>Lugares</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="charbel">
      <!-- <img class="icon_tab" src="../../assets/imgs/cherbel.png" alt="" /> -->
      <fa-icon class="fa-2x" icon="hands"></fa-icon>
      <ion-label>Santos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
