<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="cerrar_menu()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Nueva misa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input
      placeholder="Titulo de Misa"
      type="text"
      [(ngModel)]="misa.titulo"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      placeholder="Link de Transmisión"
      type="text"
      [(ngModel)]="misa.link"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-textarea
      placeholder="Copia aqui el texto de la Misa"
      type="text"
      [(ngModel)]="misa.texto"
    ></ion-textarea>
  </ion-item>
  <ion-button class="save" expand="block" (click)="save_misa()"
    >Guardar y transmitir</ion-button
  >
</ion-content>
