.container h1 {
    color: #192A5E;
}

.content {
    text-align: justify;
}

.content h3 {
    color: #2B8AA3;
}

.content p {
    color: #21182C;
}

p b {
    color: #2B8AA3;
}

p span {
    color: #2B8AA3;
}