<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Charbel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Charbel</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-slides pager="ios" [options]="slideOpts">
    <ion-slide>
      <ion-card>
        <img src="../../../assets/imgs/charbel_1.jpg" alt="" srcset="" />
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="../../../assets/imgs/charbel_2.jpg" alt="" srcset="" />
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="../../../assets/imgs/charbel_3.jpg" alt="" srcset="" />
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="../../../assets/imgs/charbel_4.jpg" alt="" srcset="" />
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="../../../assets/imgs/charbel_6.jpg" alt="" srcset="" />
      </ion-card>
    </ion-slide>
  </ion-slides>
  <p class="texto">
    Breve historia Parroquia San Charbel Don Antonio Karam Maccise fue el
    iniciador para la constitución y contrucción de nuestra parroquia. Convocó a
    un grupo de miembros de la comunidad libanesa de Saltillo para conformar el
    patronato que habría de encargarse de ese proyecto. La primera piedra se
    colocó un 27 de junio 2007 con la bendición de Mons. Georges Saad Abiyunes
    acompañado de Fray Raúl Vera obispo de Saltillo. El 20 de diciembre de 2010
    Sayedna Georges Saad Abiyunes consagró la iglesia y el 15 de noviembre de
    2011 se celebró la primera misa, por desgracia con el funeral de Don Antonio
    Karam Maccise. El patronato continuó los trabajos ahora con la presidencia
    de la sra Nora Abud vda de Karam. El 8 de mayo de 2013 se tomó al posesión
    primer párroco P. Néstor Daniel Martínez, del clero de Saltillo, prestado a
    la diócesis maronita de México. En junio de 2017 se nombró al padre Antonio
    Cepeda como párroco, también prestado por la Diócesis de Saltillo. En
    diciembre de ese mismo año, quedó vacante la parroquia y el 12 de marzo de
    2018 se nombró al p. Ulises Ramírez del clero maronita como párroco.
  </p>
</ion-content>
