<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="cp-one"></ion-menu-button>
    </ion-buttons>
    <ion-title>Santos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" color="cp-two">Santos Maronitas</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <ion-slides pager="ios" [options]="slideOpts">
    <ion-slide>
      <ion-card>
        <img src="../../../assets/imgs/charbel_1.jpg" alt="" srcset="" />
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="../../../assets/imgs/charbel_2.jpg" alt="" srcset="" />
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="../../../assets/imgs/charbel_3.jpg" alt="" srcset="" />
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="../../../assets/imgs/charbel_4.jpg" alt="" srcset="" />
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="../../../assets/imgs/charbel_6.jpg" alt="" srcset="" />
      </ion-card>
    </ion-slide>
  </ion-slides> -->

  <div class="container">
    <div class="content">
      <h3>San Charbel</h3>
      <p>
        Nació en Beqakafra, pueblo situado a 140 kms. De la capital de Líbano, Beirut, un día 8 de mayo delaño de 1828; 
        quinto hijo de  Antoun Makhlouf y Brigitte Choudiac, piadosa familia de  campesinos.  Tiempo  después su  padre  
        es  requerido  por  el  ejército  y  al  regresar  a  casa muere, su madre, pasado el tiempo vuelve a contraer 
        matrimonio con un hombre devoto  y bueno, quien eventualmente recibirá el orden sacerdotal. Youssef a la edad 
        de 20 años, sin despedirse de nadie,ni de su mamá, una mañana del año de 1851 se dirige al convento de Ntra. 
        Sra de Mayfouq, donde será recibido como Postulante y luego como Novicio, es así, que cuando llega a tomar el 
        hábito de novicio renuncia a su nombre original escogiendo el de  su  consagración:  Charbel.  Su  formación  
        filosófica  y  teológica  la  llevo  a  cabo  en  el monasterio de San Cyprien de Kfifan. Fue ordenado sacerdote 
        el 23 de julio de 1859. Estuvo mucho tiempo viviendo en comunidad, sin embargo, el anhelaba fervientemente ser 
        ermitaño, por eso pidió permiso a su superior quien le autorizo tal petición el 13 de febrero de 1875. Así vivió
         hasta el día de su muerte en la víspera de Navidad del año de 1898. 
      </p>

      <p>
        San Chárbel fue un santo que se destacó por su gran dedicación a la vida de oración ascética y el silencio, 
        haciendo de la vocación ermitaña un camino privilegiado para el encuentro con Dios.
      </p>

      <p>
        <b>Canonización: </b>9 de octubre de 1977 por el Papa Pablo VI.  
      </p>

      <p>
        <b>Fecha de festejo en la Iglesia Maronita: </b>Tercer domingo de julio y en la Iglesia occidental el día 24 de julio. 
      </p>

      <h3>Santa Rafka</h3>
      <p>
        Santa Rafka nació el 28 de junio de 1832 en Himlaia, Líbano. A los 8 días la bautizaron y le dieron el nombre de Butrusiye. 
        Fue formada en la fe por sus padres, concurría a la Iglesia de san Jorge. A los siete años su madre enferma gravemente y muere. 
        A los 14 años ingresa al Convento  de  Nuestra  Señora  de  la  Liberacion  en  Bikfaia.  Tiempo  después  dan  inicio  una 
        serie de padecimientos en santa Rafka (nombre que adopto cuando ingreso al convento) al grado que perdió la vista. 
      </p>

      <p>
        Santa Rafka fue un vivo testimonio del amor a Dios a través de la unión de sus padecimientos a los dolores de Jesucristo, 
        de ahí una de sus más celebres expresiones: <i>En comunión con los sufrimientos de Cristo.</i>
      </p>

      <p>
        Rafka vivió 82 años de los cuales fueron 29 de sufrimientos. Fallece el 23 de marzo de 1914, Batroun, Líbano.
      </p>       

      <p><b>Canonización: </b>10 de junio de 2001 por el Papa Juan Pablo II.</p>

      <p><b>Fecha de festejo en la Iglesia Maronita: </b>23 de marzo.</p>

      <h3>San Nemetala Al Hardini </h3>
      <p>
        Nehmetala Alhardini nacio en1808 en Hardin, Libano. Fue el cuarto hijo de una familia de seis  hermanos.  Desde
        temprana  edad  el  P.  Nehmetalah,  Yussef  nombre  que  recibió  en  su bautismo,  era  muy  inclinado  a  la
        oración  y  al  recogimiento.  A  los  20  años  entro  como postulante en el convento de Kozhaya de la Orden
        Libanesa Maronita. El 14 de noviembre de 1830 revistio el hábito e hizo su profesión solemne, escogiendo el 
        nombre de Nehmetalah que significa “Gracias a Dios”, a los 25 años fue ordenado sacerdote. No opto por la vida
        eremítica, decidió vivir en la comunidad para así, poder servir a Dios y a sus hermanos.
      </p>

      <p>Fallece el 14 de diciembre de 1858 producto de una pleuresía. </p>

      <p><b>Canonización: </b>16 de mayo del 2004 por el Papa Juan Pablo II.</p>

      <p><b>Fecha de festejo en la Iglesia Maronita: </b>14 de diciembre.</p>

      <h3>Beato Esteban Nehme</h3>
      <p>
        Nació en Lehfed, Jbeil en el mes de marzo de 1889, hijo menor de la familia Nehme, formada por  cuatro  hombres  
        y  dos  mujeres.  A los  16  años,  dejo  su  pueblo  y  a  su  familia  para  ir  al Monasterio de Kfifan y 
        convertirse en monje de la Orden Libanesa Maronita, tomo el nombre de  Esteban,  patrono  de  su  pueblo.  
        Hizo  sus  votos  solemnes  el  23  de  agosto  de  1907  y  fue envido a trabajar en el Monasterio de Nuestra 
        Señora del Socorro en Biblos. Ahí asumió el cargo  de  responsable  de  los  trabajadores  campesino  y  la  
        construcción.  Falleció  el  30  de agosto de 1938 a la edad de 49 años debido a una enfermedad desconocida.
      </p>

      <p>
        La  vida  del  hermano  Estebanse  caracteriza  por  su  humildad,  modestia,  su  silencio  y colaboración con 
        los campesinos y su constante unión con Dios.
      </p>

      <p>
        <b>Beatificación: </b>27 de junio del 2010 por el prefecto de la Congregación para las Causas de los Santos, 
        monseñor Angelo Amato, SDB.
      </p>

      <p>
        <b>Fecha de festejo en la Iglesia Maronita: </b>27 de junio.
      </p>
        
    </div>
  </div>
</ion-content>
