.titulo {
  font-size: 18px;
  font-weight: 700;
  margin-top: 20px;
}

.requisito {
  display: flex;
  align-items: center;
  margin: 20px;
  img {
    width: 45px;
  }
}

.pasos {
  text-align: justify;
}
