<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="cp-two"></ion-menu-button>
    </ion-buttons>
    <ion-title color="cp-two">Puebla</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" color="cp-two">
        Puebla
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <h1>
      Parroquia maronita de nuestra señora de Libano
    </h1>

    <div class="content">
      <h3>Historia</h3>

      <p>
        Habiendo visto conveniente que la Colonia libanesa de Puebla conservará su patrimonio religioso y cultural y 
        siguiendo en todas las enseñanzas del Concilio Vaticano II, la voluntad de la Santa Madre Iglesia y el Magisterio
         de los sucesores de Pedro, libremente el Arzobispo Víctor Sánchez Espinoza, decidió ceder EN TODO la Iglesia 
         de Nuestra Señora del Líbano, ubicada en el Boulevard Hermanos Serdán 220, Colonia Real del Monte en la ciudad
          de Puebla,  Pue., a la Diócesis Maronita de México, Eparquía de Nuestra Señora de los Mártires del Líbano A. R. 
      </p>

      <p>
        Esta Iglesia fue construida por iniciativa del Consejo Directivo del Centro Mexicano Libanés de Puebla, A. C. para
         el bien espiritual y pastoral de la comunidad libanesa y maronita de Puebla, iniciando sus labores de construcción
          en 1979 y consagrada el 12 de julio de 1981 por el Exmo. Señor Arzobispo Rosendo Huesca Pacheco, de allí que se 
          haya considerado entre otras cosas que la Iglesia Nuestra Señora de Líbano fuera cedida a la diócesis maronita de 
          México y en ella conservan su rito traído de estas tierras por la centenaria migración de libaneses a esta ciudad 
          de Puebla, pero que se siga celebrando el Rito Latino en atención a los fieles que conforman esta comunidad.
      </p>

      <p>
        Así pues, ha de constar que la Iglesia Nuestra Señora del Líbano no pertenece más al elenco de las Iglesias de la 
        Arquidiócesis de Puebla. 
      </p>

      <p>
        El acto litúrgico en el que se cedió la Iglesia de Nuestra Señora del Líbano a la Diócesis Maronita de México tuvo
        lugar el día 13 de septiembre de 2009 en la Santa Misa de las 13:00 horas, estando presentes y dando fe del solemne
        acto Monseñor Víctor Sánchez Espinoza, Arzobispo de Puebla, S.E. Mons. George M. Iskandar Saad Abi-Younes, Obispo
        de los maronitas en México, los RR. PP. Charbel Chain y José Miguel Alarcón Mantilla, así como el Lic. Miguel Ángel
        Yitani y García y el Sr. Jorge Zavala Yitani presidente y tesorero respectivamente del Consejo Directivo del Centro
        Mexicano Libanés de Puebla, A. C. de aquel año, entre muchos más fieles católicos de la comunidad libanesa y poblana.
      </p>

      <p>
        <b>Parroco:</b> Abouna Jonathan Ángeles Valencia
      </p>

      <address>
        Blvd. Hrmanos Serdan #220,<br />
        Col. Real del Monte.<br />
        Puebla, Pue.<br />
        México
      </address>

      <h3>Horarios de Atención</h3>
      <p>
        Martes a Sabado de 10:00 a 14:30 hrs y de 16:00 a 18:00 hrs.<br />
        Tel. 248-80-31<br />
        Cel. 222-356-5261
      </p>

      <h3>Servicios ofrecidos</h3>
      <p><span>1. </span>Agendar fecha de sacramento.</p>
      <p><span>2. </span>Platicas presacraméntales.</p>
      <p><span>3. </span>Actualización o reposición de fe de bautismo.</p>
      <p><span>4. </span>Anotar intenciones.</p>
      <p><span>5. </span>Anotar asistencia a misa.</p>

      <h3>Sacramentos ofrecidos</h3>
      <p>A continuación se enlistan los sacramentos que se ofrecen junto con los requisitos que se deben de cumplir:</p>

      <p><b>Bautismo</b></p>
      <p><span>1. </span>Acta de nacimiento del niño (a).</p>
      <p><span>2. </span>Comprobante de Platicas Pre-bautismales de papas y padrinos.</p>
      <p>
        <span class="mt-1">3. </span>Los padrinos: <br />
        <span class="ml-2 mt-1">3.1. </span>Si son casados por la iglesia presentar su acta de matrimonio por la iglesia. (Copia) <br />
        <span class="ml-2 mt-1">3.2. </span>Si son solteros presentar copia de su boleta de confirmación; si se encuentran en Unión Libre o alguna situación irregular no podrán ser padrinos.
      </p>
      <p>
        <span>4. </span>La documentación y liquidación de su donativo se debe entregar quince días antes de la celebración.  
      </p>

      <p><b>Primera comunión</b></p>
      <p><span>1. </span>Presentar Acta de Bautismo del Niño (a).</p>
      <p><span>2. </span>Comprobante de haber cursado el catecismo.</p>
      <p><span>3. </span>Comprobante de PLÁTICAS pre-sacramentales de papás y padrinos.</p>
      <p>
        <span class="mt-1">3. </span>Los padrinos: <br />
        <span class="ml-2 mt-1">3.1. </span>Si son casados por la iglesia presentar su acta de matrimonio por la iglesia. (Copia) <br />
        <span class="ml-2 mt-1">3.2. </span>Si son solteros presentar copia de su boleta de confirmación; si se encuentran en Unión Libre o alguna situación irregular no podrán ser padrinos.
      </p>
      <p>
        <span>4. </span>La documentación y liquidación de su donativo se debe entregar quince días antes de la celebración.  
      </p>

      <p><b>Confirmación</b></p>
      <p><span>1. </span>Presentar Acta de Bautismo del Niño (a) Comprobante de haber cursado el catecismo. Original</p>
      <p><span>2. </span>Comprobante de PLÁTICAS pre-sacramentales de papás y padrinos.</p>
      <p>
        <span class="mt-1">3. </span>Los padrinos: <br />
        <span class="ml-2 mt-1">3.1. </span>Si son casados por la iglesia presentar su acta de matrimonio por la iglesia. (Copia) <br />
        <span class="ml-2 mt-1">3.2. </span>Si son solteros presentar copia de su boleta de confirmación; si se encuentran en Unión Libre o alguna situación irregular no podrán ser padrinos.
      </p>
      <p>
        <span>4. </span>La documentación y liquidación de su donativo se debe entregar quince días antes de la celebración.  
      </p>

      <p><b>Boda</b></p>
      <p><span>1. </span>Presentar acta de bautismo <strong>ACTUALIZADA</strong>.</p>
      <p><span>2. </span>Acta de Confirmación.</p>
      <p><span>3. </span>Comprobante de catequesis pre-matrimoniales.</p>
      <p><span>4. </span>Acta de nacimiento (Copia).</p>
      <p><span>5. </span>Fotos tamaño infantil: 4 del novio y 4 de la novia.</p>
      <p><span>6. </span>Para la presentación 4 testigos 2 de la novia y 2 del novio (pueden ser los padres de los novios).</p>
      <p><span>7. </span>La liquidación de su donativo se debe realizar quince días antes de la celebración.</p>

      <strong>(SI LOS SACRAMENTOS SON MARONITAS, QUE REQUISITOS SE NECESITAN):</strong>

      <h3>Otros</h3>

      <p><b>Quince años</b></p>
      <p><span>1. </span>Copia de Fe Bautismo y Acta de Nacimiento.</p>
      <p><span>2. </span>Comprobante de pláticas de papás, padrinos y quinceañera.</p>
      <p><span>3. </span>Confesarse para participar en la ceremonia.</p>
      <p><span>4. </span>La liquidación de su donativo minimo15 días antes de la celebración.</p>

      <p><b>TE DEUM</b></p>
      <p><span>1. </span>Nombre de la persona por quien se ofrecerá la misa.</p>
      <p><span>2. </span>Teléfono de contacto.</p>
      <p><span>3. </span>Aportación correspondiente.</p>

      <p><b>Misa de 3 años</b></p>
      <p><span>1. </span>Nombre de la persona por quien se ofrecerá la misa.</p>
      <p><span>2. </span>Teléfono de contacto.</p>
      <p><span>3. </span>Aportación correspondiente.</p>

      <p><b>Misa de difuntos</b></p>
      <p><span>1. </span>Nombre de la persona por quien se ofrecerá la misa.</p>
      <p><span>2. </span>Aportación correspondiente.</p>

      <p><b>Misa de acción de gracias</b></p>
      <p><span>1. </span>Nombre de la persona por quien se ofrecerá la misa.</p>
      <p><span>2. </span>Aportación correspondiente.</p>

      <p><b>Intenciones Misa Ordinaria</b></p>
      <p><span>1. </span>Nombre de la persona por quien se ofrecerá la misa.</p>
      <p><span>2. </span>Aportación voluntaria.</p>

      <p><b>Actualización o reposición de actas</b></p>
      <p><span>1. </span>Nombre de la persona que recibió el sacramento.</p>
      <p><span>2. </span>Fecha del sacramento.</p>
      <p><span>3. </span>Nombre de papas y padrinos.</p>
      <p><span>4. </span>Teléfono de contacto.</p>
      <p><span>5. </span>Aportación correspondiente.</p>

      <p><b>Platicas presacramentales</b></p>
      <p><span>1. </span>Nombre de las personas que participaran en la plática.</p>
      <p><span>2. </span>Teléfono de contacto.</p>
      <p><span>3. </span>Aportación correspondiente.</p>

      <span class="alert-danger">
        Cada parroquia de acuerdo al semáforo determinado por las autoridades civiles de su estado, tienen una 
        capacidad para acoger fieles en sus parroquias.<br /><br />Favor de decirnos el semáforo actual y el número 
        de feligreses permitidos para que gente desde la aplicación pueda apartar sus lugares.
      </span>

      <h3>Aportaciones por los sacramentos</h3>
      <ion-grid>
        <ion-row>
          <ion-col size="6"><strong>Sacramento</strong></ion-col>
          <ion-col class="ion-text-center"><strong>2020</strong></ion-col>
          <ion-col class="ion-text-center"><strong>2021</strong></ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">Bautismo misa</ion-col>
          <ion-col class="ion-text-center">$2,000</ion-col>
          <ion-col class="ion-text-center">$2,200</ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">Bautismo rito</ion-col>
          <ion-col class="ion-text-center">$1,200</ion-col>
          <ion-col class="ion-text-center">$1,400</ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">Bautismo comunitario <small>(domingo)</small></ion-col>
          <ion-col class="ion-text-center">$800</ion-col>
          <ion-col class="ion-text-center">$900</ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">Comunión</ion-col>
          <ion-col class="ion-text-center">$2,000</ion-col>
          <ion-col class="ion-text-center">$2,200</ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">Confirmación</ion-col>
          <ion-col class="ion-text-center">$2,000	</ion-col>
          <ion-col class="ion-text-center">$2,200</ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">Comunión y confirmación</ion-col>
          <ion-col class="ion-text-center">$3,000</ion-col>
          <ion-col class="ion-text-center">$3,500</ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">Acción de gracias</ion-col>
          <ion-col class="ion-text-center">$2,000</ion-col>
          <ion-col class="ion-text-center">$2,000</ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">XV años</ion-col>
          <ion-col class="ion-text-center">$3,500</ion-col>
          <ion-col class="ion-text-center">$3,850</ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">Boda</ion-col>
          <ion-col class="ion-text-center">$5,000	</ion-col>
          <ion-col class="ion-text-center">$6,000</ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">Graduaciones</ion-col>
          <ion-col class="ion-text-center">$3,000</ion-col>
          <ion-col class="ion-text-center">$3,500</ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">TE DEUM</ion-col>
          <ion-col class="ion-text-center">$800</ion-col>
          <ion-col class="ion-text-center">$800</ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">Misa Luctuosa sin cantor</ion-col>
          <ion-col class="ion-text-center">$500</ion-col>
          <ion-col class="ion-text-center">$600</ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">Misa luctuosa con cantor</ion-col>
          <ion-col class="ion-text-center">$700</ion-col>
          <ion-col class="ion-text-center">$800</ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col>Búsqueda y actualizacón de actas</ion-col>
          <ion-col class="ion-text-center">$100</ion-col>
        </ion-row>
        
        <p><b>Se aparta con el 50% del donativo y el resto se da 15 días antes de la celebración.</b></p>
        
      </ion-grid>

    </div>
  </div>

</ion-content>
